
@media only screen and (min-width: 600px) {
    .App {
        display: flex;
        margin-right: 30%;
        margin-top: 10%;
        
    }

    .img-div{
        margin-left: 33%;
        margin-top: 5px;

    }


    .img-div img {
        border-radius: 15px 0 0 15px;
        width: 300px;
        height: 310px;
        margin-top: 60px;
    }

    .lower-content {
        height: 310px;
        padding-right: 500px;
        margin: 80px 195px 0 0;
        border-radius: 0 15px 15px 0;
        margin-top: 65px;
        background-color: #fff;
        box-shadow: 1px 1px 10px 0.1px hsl(212, 33%, 89%);
    }

    .content-div {
        /* padding-left: 2.5rem;
        padding-top: 2.5rem; */
        padding-top: 2rem;
    }


    .content-heading {
        width: 400px;
        font-size: 22px;
        letter-spacing: 0.7px;
    }

    .content-para {
        width: 400px;
    }

    .share-div {
        width: 490px;
        margin-top: 0.5rem;

    }

    .share-content-div {
        margin-right: 11.5625rem;
    }

    .share-heading {
        width: 8rem;
    }

    .share-img-div img {
        width: 2.7rem;
        height: 2.7rem;
    }

    .share-btn-div {
        margin-top: 0.5rem;
    }





    /************************************** pop up window *********************************************/


    .main {
        margin-top: 0;
        padding-top: 8px;
        transform: translate(17.65rem, -5rem);
        width: 17rem;
        height: 3.7rem;
        border-radius: 10px;
      }

    .main::after{
        content: "";
        background-color: hsl(217, 19%, 35%);
        width: 2rem;
        height: 2rem;
        transform: translate(-6.825rem, 1rem) rotate(45deg);
        z-index: -1;
    }
      
      .clicked-share-heading {
        width: 5rem;
        margin-top: 0.5rem;
        
      }
      
      
      .facebook {
        margin-bottom: 0.7rem;
      }
      
      .twitter {
        margin-bottom: 0.7rem;
      }
      
      .pintrest {
        margin-right: 0rem;
        margin-bottom: 0.7rem;
      }
      
      /* #btn-clicked {
        margin-left: 168px;
      } */
      



      


}